<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed</title>
</head>
<style>
    body{
        background-image: linear-gradient(to right,rgb(255, 19, 19),rgb(126, 182, 255));
    }
    center{
        margin-top: 100px;
        color:white;
    }
</style>
<body>
    <center>
        <h3 > Successful</h3>
       
        Title : {{title}}
       <br>
       Views : {{views}}
       <br>
       Description : {{description}}
        
        
    </center>
  
</body>
</html>